body {
    background: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 30px;
    color: #0a030a;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.h2 {
    color: #0a030a;
    margin-bottom: 30px;
}

/* Parrafo */
section {
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

section h4,
section h2,
.section h4 {
    color: #DC23D9;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

.section-title,
.section p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: bold;
}

.nav-bar {
    min-height: 70px;
    overflow: hidden;
    background: #f9f9f9;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

header .logo h2,
header .logo p {
    font-size: 18px;
    display: inline-block;
}

header .logo .icono {
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
}

header .menu .c1 {
    background: #DC23D9;
    font-family: "Poppins", sans-serif;
}

header .menu .c2 {
    background: #DC23D9;
}



header .menu .c3 {
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
}

header .menu .c1:hover,
header .menu .c2:hover,
header .menu .c3:hover {
    color: black;
}

.contact span {
    font-size: 24px;
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
}

.portafolio {
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.portafolio .galeria .contenedor-imagen {
    max-height: 180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
    background: #bc80bb;
    display: inline-block;
}

.portafolio .galeria .imagen-borde {
    padding-right: 0;
}

@media (max-width: 992px) {
    .portafolio .galeria .imagen-borde {
        padding-right: 0.75rem;
        /* margin-right: 0.75rem; */
    }

    .portafolio .galeria .contenedor-imagen {
        margin-left: 0.75rem;
        margin-right: -0.75rem;
    }

    .portafolio .galeria .contenedor-imagen {
        width: 97%;
    }
    
    .carousel-margin {
        margin: 0px !important;
    }
}

.portafolio .galeria .contenedor-imagen:hover img {
    opacity: 0.6;
}

.modal-dialog {
    max-width: 1000px !important;
}

.portafolio .galeria .contenedor-imagen:nth-child(1) {
    order: 1;
}

.portafolio .galeria .contenedor-imagen:nth-child(2) {
    order: 2;
}

.portafolio .galeria .contenedor-imagen:nth-child(3) {
    order: 4;
}

.portafolio .galeria .contenedor-imagen:nth-child(4) {
    order: 4;
}

.portafolio .galeria .contenedor-imagen:nth-child(5) {
    order: 5;
}

.portafolio .galeria .contenedor-imagen:nth-child(6) {
    order: 7;
}

.portafolio .galeria .contenedor-imagen:nth-child(7) {
    order: 6;
}

.servicios {
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.contacto {
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titulos {
    text-align: center;
    /* margin: 35px 0 20px 0 !important; */
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-weight: 100;
}

.carousel {
    margin: 0 -12px;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(1);
}

.no-hover:hover {
    background-color: transparent;
    color: inherit;
}

.full-height {
    height: 100vh;
}

#contact-form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container1 {
    margin-top: 20px;
}

button {
    background-color: #DC23D9;
    border: none;
    color: white;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0a030a;
    color: white;
}

.datos-contacto {
    font-size: 24px;
}

.linkedin-btn-hover:hover {
    background-color: #0077B6;
}

.texto-h1-titulo,
.pyo {
    text-align: center;
    /* margin: 35px 0 20px 0 !important; */
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.boton-copia {
    color: #010101;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-body {
    background-color: #f4f4f4;
    border-radius: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: space-evenly;
}

.boton-copia button {
    max-width: 5rem;
}

.cuadradocont {

    padding: 1px;
}

.icono-servicios {
    width: 50px;
}

#boton-enviar,
#boton-cerrar-modal-confirmacion {
    background-color: #DC23D9;
    border-color: #DC23D9;
}

#boton-enviar:hover,
#boton-enviar:checked,
#boton-cerrar-modal-confirmacion:hover,
#boton-cerrar-modal-confirmacion:checked {
    background-color: #b723dc;
    border-color: #b723dc;
}

.logo-header {
    height: 8rem;
    padding-left: 1rem;
}

#modal-confirmacion-form {
    display: block;
    background-color: #0077B6;
    padding: 1rem;
    display: absolute;
    position: relative;
}

#confirmacion-form{
    text-align: center;
    /* margin-top: 2rem; */
}

.background-color-footer {
    background-color: #f9f9f9 !important;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socialIcons a {
    height: 3rem;
    width: 3rem;
    text-decoration: none;
    background-color: rgb(230, 43, 227);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.socialIcons a i {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.socialIcons a:hover {
    background-color: #000000;
    transition: 0.5s;
}

.derechos-reservados {
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 0;
}

#back-to-top-btn {
    position: fixed;
    bottom: 40px;
    right: 30px;
    display: none;
    z-index: 99;
    background-color: #DC23D9 !important;
    border: #DC23D9 !important;
  }

#back-to-top-btn:hover,
#back-to-top-btn:checked {
    background-color: #000 !important;
    border: #000 !important;
}

.navbar-collapse {
    justify-content: end;
}