body {
    background: #FFFFFF;

    /* font-family: "Poppins", sans-serif; */
    font-family: "Poppins",
        sans-serif
}



.container {
    padding: 30px;
    color: #0a030a;
    margin-bottom: px;
    font-family: "Poppins",
        sans-serif
}



header h2 {
    color: #0a030a;
    margin-bottom: 30px;
    font-family: "Poppins",
        sans-serif
}

/* parrafo */
section {
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;

}

section h4 {
    color: #DC23D9;
    margin-bottom: 10px;
    font-family: "Poppins",
        sans-serif
}


.section h2 {
    color: #DC23D9;
    margin-bottom: 30px;
    font-family: "Poppins",
        sans-serif
}

.section h4 {
    color: #DC23D9;
    margin-bottom: 30px;
    font-family: "Poppins",
        sans-serif
}

.section-title {
    font-size: 20px;
}


section p {
    font-size: 15px;
    font-family: "Poppins",
        sans-serif
}



.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

/* .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
 } */

header .nav {
    min-height: 70px;
    overflow: hidden;
    background: #f4f3f3;
}


header .logo h2,
header .logo p {
    font-size: 16px;
    display: inline-block;
}


header .logo .icono {
    color: #DC23D9;

}

header .menu .c1,
.c2,
.c3 {
    color: #DC23D9;

}

header .menu .c1:hover,
.c2:hover,
.c3:hover {
    color: black;

}

.contact span {
    font-size: 24px;
    /* Cambia este valor según el tamaño deseado */
    color: #DC23D9;
    /* Cambia este valor por el color deseado */
}



.portafolio {
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}



.portafolio .galeria .contenedor-imagen {
    max-height: 180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
    background: #bc80bb;
    display: inline-block;
}

.portafolio .galeria .contenedor-imagen:hover img {
    opacity: .6;
}

/* ventana modal */
.modal-dialog {
    max-width: 1000px;
}


.portafolio .galeria .contenedor-imagen:nth-child(1) {
    order: 1;
}

.portafolio .galeria .contenedor-imagen:nth-child(2) {
    order: 2;
}

.portafolio .galeria .contenedor-imagen:nth-child(3) {
    order: 4;
}

.portafolio .galeria .contenedor-imagen:nth-child(4) {
    order: 4;
}

.portafolio .galeria .contenedor-imagen:nth-child(5) {
    order: 5;
}

.portafolio .galeria .contenedor-imagen:nth-child(6) {
    order: 7;
}

.portafolio .galeria .contenedor-imagen:nth-child(7) {
    order: 6;
}

.servicios {
    color: #DC23D9;
    ;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* Estilo para el texto "Servicios" */
.servicios {
    color: #DC23D9;
    /* Color fucsia */
}

.contacto {
    color: #DC23D9;
    ;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


h2 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
    color: #DC23D9;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/*carousel size*/

.carousel {
    width: 100%;
    /* Ancho */
    margin: auto;
    /* Centra el carrusel */
}

.carousel-item img {
    height: 500px;
    /* Altura*/
    object-fit: cover;

}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(1);


}

.no-hover:hover {
    background-color: transparent;
    color: inherit;

}


.full-height {
    height: 100vh;
}

#contact-form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

hr {
    width: 90%;
    /* Ajusta el ancho según sea necesario */
    margin: 0 auto;

    /* Ajusta el ancho según sea necesario */
}

/* contacto botones*/


.container1 {
    margin-top: 20px;
}

.col8 {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #DC23D9;
    border: none;
    color: white;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #03771c;
}

#telefono1 {
    font-size: 24px;
    /* Ajusta el tamaño de la fuente del número de teléfono aquí */
}

#telefono2 {
    font-size: 24px;
    /* Ajusta el tamaño de la fuente del número de teléfono aquí */
}

#email {
    font-size: 21px;
    /* Ajusta el tamaño de la fuente del número de teléfono aquí */
}